th{
  font-size: 30px;
  font-weight: normal;
}
td{
  font-size: 20px;
  vertical-align: middle;
}
tr {
  background-color: transparent !important;
}
.title-col{
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
@media (max-width: 760px) {
  th {
    font-size: 20px;
    font-weight: normal;
  }
  td {
    font-size: 15px;
    vertical-align: middle;

  }
  .title-col{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

