<div class="container-fluid" >
  <div class="container">
    <div class="row">
      <div class="col-12 nav-col">
        <mat-toolbar class="navbar">
          <div>
            <button mat-button routerLink="">WeatherHub</button>
          </div>
          <div class="nav-buttons">
            <button mat-button routerLink="">Today's Weather</button>
          </div>
          <div class="burger-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-button routerLink="">Today's Weather</button>
            </mat-menu>
          </div>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
